<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href='/post/{{post.id}}'>{{post.title}}</a></h5>
            <p class="card-text" id="card-details">Posted by: {{post.user.username}} </p>
            <br>
            <p class="card-text">{{post.post_text}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Comments:</h5>
            {{#each post.comments as |comment|}}
            <p>{{comment.comment_text}} - {{comment.user.username}}</p>
            {{/each}}
        </div>
    </div>
</div>
<div class="row">
    {{#if logged_in}}
    <form class="form" id = "new-comment-form">
        <div class="form-group">
            <label for="comment-text">Add a comment:</label>
            <textarea class="form-input" id="comment-text" name="comment-text"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>
{{/if}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}